@import "tailwindcss";

:root {
  /* Berlin Official Colors */
  --berlin-red: #d82020;
  --berlin-red-dark: #CC0028;
  --berlin-blue: #002A4E;
  --berlin-blue-dark: #001A30;
  --berlin-green: #007256;
  --berlin-gray: #666666;
  --berlin-light-gray: #F2F2F2;
  --berlin-border: #E0E0E0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFFF;
  color: #000000;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
  margin: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
  color: #000000;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
  color: #000000;
  margin: 0;
}

p {
  line-height: 1.6;
  margin: 0;
}

button {
  font-family: inherit;
}